{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Luis Bosquez">

    <title>StudentNet</title>

    <!-- Bootstrap Core CSS -->
    <link href='{% static "lib/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">
	<!-- Chartist CSS -->
	<link rel="stylesheet" href='{% static "lib/chartist/chartist.min.css" %}'>
	
	<!-- Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Rosario:400,400italic,700' rel='stylesheet' type='text/css'>
	
	<!-- Chartist js -->
	<script src='{% static "lib/chartist/chartist.min.js" %}'></script>
	
	<!-- jQuery -->
    <script src='{% static "lib/jquery/jquery.js" %}'></script>
	
	<!-- Moment.js -->
    <script src='{% static "lib/moment/moment.js" %}'></script>
	
	<!-- Underscore.js -->
    <script src='{% static "lib/underscore/underscore.js" %}'></script>

	<!-- Clndr.js -->
    <script src='{% static "lib/clndr/clndr.js" %}'></script>
	
    <!-- Bootstrap Core JavaScript -->
    <script src='{% static "lib/bootstrap/js/bootstrap.min.js"%}'></script>
	
	<!-- Fontawesome -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	
	<!-- Custom CSS -->
	<link href='{% static "custom/css/simple-sidebar.css" %}'rel="stylesheet">
	<link rel='stylesheet' href='{% static "custom/css/main.css" %}'/>
	
</head>
<body>
	{% include 'components/navbar.html' %}
	
	{% include 'components/sidebar.html' %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				{% block content %}
				{% endblock %}
			</div>
		</div>
	</div>
	
</body>
</html>