<nav class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container-fluid">
		<div class="navbar-header">
		  <a class="navbar-brand" href="#">Studentil : <span class="subtype">University</span></a>
		  <ul class="nav navbar-nav navbar-left">
			<li><a href="#">Inicio</a></li>
			<li><a href="#">Administrar</a></li>
			<li><a href="#">Conectar</a></li>
			<li><a href="#">Rankings</a></li>
		  </ul>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
		  <ul class="nav navbar-nav navbar-right">
			<li><a href="#">Opciones</a></li>
			<li><a href="#">Ayuda</a></li>
		  </ul>
		  <form class="navbar-form navbar-right">
			<input type="text" class="form-control" placeholder="Busqueda...">
		  </form>
		</div>
	  </div>
	</nav>