{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Luis Bosquez">

    <title>StudentNet</title>

    <!-- Bootstrap Core CSS -->
    <link href='{% static "bootstrap/dist/css/bootstrap.min.css" %}' rel="stylesheet">
	<!-- Chartist CSS -->
	<link rel="stylesheet" href='{% static "chartist/dist/chartist.min.css" %}'>
	
	<!-- Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Rosario:400,400italic,700' rel='stylesheet' type='text/css'>
	
	<!-- Chartist js -->
	<script src='{% static "chartist/dist/chartist.min.js" %}'></script>
	
	<!-- jQuery -->
   <script type="text/javascript" src='{% static "jquery/dist/jquery.js" %}'></script>
	
	<!-- Moment.js -->
    <script src='{% static "moment/moment.js" %}'></script>
	
	<!-- Underscore.js -->
    <script src='{% static "underscore/underscore.js" %}'></script>

	<!-- Clndr.js -->
    <script src='{% static "clndr/src/clndr.js" %}'></script>
	
    <!-- Bootstrap Core JavaScript -->
    <script src='{% static "bootstrap/dist/js/bootstrap.min.js"%}'></script>

    <!-- Bootstrap Core JavaScript -->
    <script src='{% static "jquery-collagePlus/jquery.collagePlus.min.js"%}'></script>
	
	<!-- Fontawesome -->
    <link href='{% static "font-awesome//css/font-awesome.min.css" %}' rel="stylesheet">
	
	<!-- Custom CSS -->
	<link href='{% static "custom/css/simple-sidebar.css" %}'rel="stylesheet">
	<link rel='stylesheet' href='{% static "custom/css/main.css" %}'/>
	
</head>
<body>
	{% include 'components/navbar.html' %}
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 main">
				{% block content %}
				{% endblock %}
			</div>
		</div>
	</div>
	
</body>
</html>