{% extends 'components/base.html' %}
{% block content %}

<script>
	var days = {
	  day: 5,
	  classes: "day",
	  events: [],
	  date: moment("2013-05-29")
	}
	
	events = [
	  { date: "YYYY-MM-DD or some other ISO Date format", and: "anything else" }
	]
	
</script>
<div class="row">
    <div class="col-md-2">
        <h1 class="page-header">Calendario</h1>
    </div>
	<div class="col-md-9 toolbar">
		<button type="button" class="btn btn-primary btn-calendar">
			Agregar
		</button>
		<button type="button" class="btn btn-primary btn-calendar">
			Exportar
		</button>
	</div>
</div>
<div class="row">
	<div class="col-md-9">
			<div class="dashboard-element" id="calendar">
				
			</div>
	</div>
	<div class="col-md-3">
		<div class="dashboard-element">
				<h3 style="margin-top:10px">Eventos Próximos</h3>
				<div class="list-group" id="tasks">
					<li class="list-group-item calendar"><small>20-03-2015</small><br>Planear juntas de consejo <br>
					<a class="fa fa-trash pull-right task-icon"></a>
					<a class="fa fa-pencil-square-o pull-right task-icon"></a>
					<a class="fa fa-check-circle-o pull-right task-icon"></a>
					</li>
                    <hr>
					<li class="list-group-item calendar"><small>25-03-2015</small><br>Junta informativa acerca de eventos<br>
					<a class="fa fa-trash pull-right task-icon"></a>
					<a class="fa fa-pencil-square-o pull-right task-icon"></a>
					<a class="fa fa-check-circle-o pull-right task-icon"></a>
					</li>
                    <hr>
					<li	class="list-group-item calendar"><small>10-04-2015</small><br>Promoción de plática de director<br>
					<a class="fa fa-trash pull-right task-icon"></a>
					<a class="fa fa-pencil-square-o pull-right task-icon"></a>
					<a class="fa fa-check-circle-o pull-right task-icon"></a>
					</li>
                    <hr>
					<li class="list-group-item calendar"><small>13-04-2015</small><br>Confirmar eventos de reclutamiento <br>
					<a class="fa fa-trash pull-right task-icon"></a>
					<a class="fa fa-pencil-square-o pull-right task-icon"></a>
					<a class="fa fa-check-circle-o pull-right task-icon"></a>
					</li>
                    <hr>
					<li class="list-group-item calendar"><small>20-04-2015</small><br>Enviar estado financiero Q3<br>
					<a class="fa fa-trash pull-right task-icon"></a>
					<a class="fa fa-pencil-square-o pull-right task-icon"></a>
					<a class="fa fa-check-circle-o pull-right task-icon"></a>
					</li>
				</div>
				<a class="btn btn-default" href="#" role="button" style="margin-top:10px">Ver más</a>
			</div>
	</div>
</div>
<script>
$('#calendar').clndr({
	  template: $('#calendar-template').html(),
	  events: [
		{ date: '2013-09-09', title: 'CLNDR GitHub Page Finished', url: 'http://github.com/kylestetz/CLNDR' }
	  ],
	  clickEvents: {
		click: function(target) {
		  console.log(target);
		},
		onMonthChange: function(month) {
		  console.log('you just went to ' + month.format('MMMM, YYYY'));
		}
	  },
	  doneRendering: function() {
		console.log('this would be a fine place to attach custom event handlers.');
	  }
	});
		  
		  
	var times = function(n) {
	  return Array.apply(null, new Array(n));
	};
</script>
{% endblock %}