{% extends 'components/base.html' %}
{% block content %}
<h1 class="page-header">Validaciones</h1>

<div class="row">
    <div class="row">
        <div class="col-md-4">
            <img src="{{ MEDIA_URL }}/images/user/1.jpg" class="img-responsive content" alt="Responsive image">

            <div class="dashboard-element validate">
                <h3>Game On <span class="badge">Evento</span></h3>
                <dl class="dl-horizontal content">
                    <dt>Titulo</dt>
                    <dd>Game On</dd>
                    <dt>Organizador</dt>
                    <dd>CodeIt</dd>
                    <dt>Fecha</dt>
                    <dd>25 Marzo 2015</dd>
                    <dt>Contacto</dt>
                    <dd>Andrea Osorio</dd>
                </dl>
                <div class="footer">
                    <div class="">
                        <i class="fa fa-check-circle approve "></i>
                        <i class="fa fa-times-circle reject "></i>
                    </div>
                    <input type="text" class="form-control comentarios" placeholder="Comentarios">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <img src="{{ MEDIA_URL }}/images/user/2.jpg" class="img-responsive content" alt="Responsive image">

            <div class="dashboard-element validate" style="height: 338px;">
                <h3>Silicon Valley, CA <span class="badge">Viaje</span></h3>
                <dl class="dl-horizontal content">
                    <dt>Titulo</dt>
                    <dd>Viaje a Silicon Valley</dd>
                    <dt>Organizador</dt>
                    <dd>CodeIt</dd>
                    <dt>Fecha</dt>
                    <dd>30 Marzo 2015</dd>
                    <dt>Contacto</dt>
                    <dd>Andrea Osorio</dd>
                </dl>
                <div class="footer">
                    <div class="">
                        <i class="fa fa-check-circle approve"></i>
                        <i class="fa fa-times-circle reject"></i>
                    </div>
                    <input type="text" class="form-control comentarios" placeholder="Comentarios">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <img src="{{ MEDIA_URL }}/images/user/3.jpg" class="img-responsive content" alt="Responsive image">

            <div class="dashboard-element validate">
                <h3>Conferencias - Game On <span class="badge">Poster</span></h3>
                <dl class="dl-horizontal content">
                    <dt>Titulo</dt>
                    <dd>Game On</dd>
                    <dt>Organizador</dt>
                    <dd>CodeIt</dd>
                    <dt>Fecha</dt>
                    <dd>25 Marzo 2015</dd>
                    <dt>Contacto</dt>
                    <dd>Andrea Osorio</dd>
                </dl>
                <div class="footer">
                    <div class="">
                        <i class="fa fa-check-circle approve"></i>
                        <i class="fa fa-times-circle reject"></i>
                    </div>
                    <input type="text" class="form-control comentarios" placeholder="Comentarios">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}